@import 'global';

.mycol {
    background-color: white;
    border: 4px solid black;
    color: black;
}

#container1 {
    margin-bottom: 30px;
}

#Enlaces {
    margin-top: 100px;
    height: 50dvh;
}