/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
.mycol {
    background-color: purple;
    border: 1px solid black;
    color: white;
}

#container1 {
    margin-bottom: 30px;
}

#Enlaces {
    margin-top: 100px;
    height: 100dvh;
}